site_name: bengrn
theme: 
  name: readthedocs
  # analytics:
    # gtag: G-ABC123
site_url: https://www.jkobject.com/benGRN/
nav:
  - Home: index.md
  - example notebook: notebooks/example.ipynb
  - documentation:
    - base: base.md
plugins: 
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            show_root_heading: true
            show_source: true
            summary: true
            merge_init_into_class: true
            show_signature: false
            do_heading: true
      default_handler: python
  - git-revision-date-localized
  - git-authors
  - mkdocs-jupyter:
      include_source: True
