[tool.poetry]
name = "bengrn"
version = "0.1.0"
description = "benchmarking gene regulatory networks"
authors = ["jkobject"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
scikit-learn = "*"
numpy = "*"
arboreto = "*"
pyscenic = "*"
ctxcore = "*"
seaborn = "*"
decoupler = "*"
scipy = "*"
pandas = "*"
grnndata = "*"
anndata = "*"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.4"
coverage = "^7.4.0"
flake8 = "^7.0.0"
black = "^23.12.1"
isort = "^5.13.2"
pytest-cov = "^4.1.0"
mypy = "^1.8.0"
gitchangelog = "^3.0.4"
mkdocs = "^1.5.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
bengrn = 'bengrn.__main__:main'
